{% extends 'profile.html' %}
{% load crispy_forms_tags %}

{% block main_content %}
  {% include 'side-snippet.html' %}
  <div class="col s9 blue-grey lighten-5 main-panel">
    <p class="flow-text center">CHANGE PROFILE DETAILS</p>
    <div class="card-panel">
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <div class="col s12 input-field">
               <input type="submit" value="Save Changes" class="btn btn-waves teal darken-2"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
  <script>
     const tA = document.querySelector('textarea')
     const form = document.querySelector('form')

     tA.classList = ['materialize-textarea']
     form.style.cssText = "padding:12px; "
     
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems,);
  });
</script>
{% endblock %}