{% extends 'base.html' %}
{% load crispy_forms_tags %}
    
{% block main_content %}
    <div class="card-panel col s8 offset-s2">
        <p class="center flow-text uppercase">Post a new question below</p>
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" class="btn" value="Post Question">
        </form>
    </div>
{% endblock %}

{% block extra_js %}
  <script>
     const tA = document.querySelector('textarea')
     const form = document.querySelector('form')

     tA.classList = ['materialize-textarea']
     form.style.cssText = "padding:12px; "
     
  </script>
{% endblock %}
    
   
