{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main_content %}
<div class="row">
    <div class="col col-sm-8 col-md-6 col-lg-6 offset-md-3 offset-lg-3 mt-4">
            <form action="/accounts/password_reset/" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" value="Reset Password" class="btn btn-block btn-success">
            </form>
    </div>
</div>
  
{% endblock %}

{% block footer_content %}{% endblock %}