{% extends 'base.html' %}
{% block page_title %}{{request.user.get_shortname}}{% endblock %}
{% block extra_css %}
<style>
    .side-panel, .main-panel{
        height: 720px;
        padding-top: 19px;
    }
</style>
{% endblock %}

{% block main_content %}
{% include 'side-snippet.html' %}
  <div class="col s9 blue-grey lighten-5 main-panel">
      <p class="flow-text center">WELCOME {{request.user.get_shortname|upper}}</p>
      <div class="card-panel">
          {% if  profile.bio %}
           <p>{{profile.bio}}</p>
           {% else %}
           <p class="grey-text">Please provide a bio editing your profile</p>
          {% endif %}
      </div>
      <span class="divider"></span>
  </div>
{% endblock %}