{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main_content %}

    <div class="col s6 offset-s3 card-panel">
            <form action="/accounts/register/" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" value="Register" class="btn btn-success btn-block mr-5">
                <p class="ml-5 text-right text-muted small mt-2">Already have an account? <a href="{% url 'authentication:login' %}" class="ml-1">Login</a></p>
            </form>
    </div>
{% endblock %}

{% block extra_js %}
<script>
    const form = document.querySelector('form');
    form.style.cssText = "padding:12px;"
</script>

{% endblock %}